.portfolio {
  padding: 150px 0 0;
}

.portfolio__inner {
  background-color: rgba(59, 59, 59, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 5;
}

.custom-prev-arrow {
  left: 10px;
}

.custom-next-arrow {
  right: 10px;
}
